<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key><string>com.omacosy.dock</string>
  <key>CFBundleName</key><string>Omacosy Dock</string>
  <key>CFBundleExecutable</key><string>omacosy-dock</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>LSUIElement</key><true/>
  <key>NSAccessibilityUsageDescription</key>
  <string>下栏需要辅助功能权限，才能像系统程序坞一样列出每个应用打开的窗口和标签页。</string>
</dict>
</plist>
